<div class="container">
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Listing case logs</h3>
    </div>
</div>
<!-- end of title -->
<hr>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr class="case-list">
          <th>Title</th>
          <th>Patient name</th>
          <th>Doctor</th>
          <th colspan="2"></th>
          <th><%= link_to 'New Case log', new_case_log_path %></th>
        </tr>
      </thead>

      <tbody>
        <% @case_logs.each do |case_log| %>
          <tr class="case-list">
            <td><%= case_log.title %></td>
            <td><%= case_log.patient_name %></td>
            <td><%= case_log.doctor.name %></td>
            <td><%= link_to 'Show', case_log %></td>
            <td><%= link_to 'Edit', edit_case_log_path(case_log) %></td>
            <td><%= link_to 'Destroy', case_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
