<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @case_log.title %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @case_log.patient_name %>
</p>

<p>
  <strong>Patient date of birth:</strong>
  <%= @case_log.patient_date_of_birth %>
</p>

<p>
  <strong>Patient gender:</strong>
  <% case @case_log.patient_gender
       when 0 %>
    Unknown
    <% when 1 %>
    Male
    <% when 2 %>
    Female
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case_log.description %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @case_log.diagnosis %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @case_log.treatment %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @case_log.doctor.name %>
</p>


<p>
  <strong>Images:</strong>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Thumbnail</th>
        <!-- <th>Url</th> -->
        <!-- <th>Description</th> -->
        <th>Case log</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><%= image.title %></td>
          <td>
            <img src="<%= image.url %>" alt="case log image" style="width:50px;height:50px"> <br/>
          </td>
          <!-- <td><%= image.url %></td> -->
          <!-- <td><%= image.description %></td> -->
          <td><%= image.case_log.title %></td>
          <td><%= link_to 'Show', image %></td>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'New Image', new_case_log_image_path(@case_log) %>
<%= link_to 'Edit', edit_case_log_path(@case_log) %> |
<%= link_to 'Back', case_logs_path %>
