<section class="case-log">
  <div class="container">
  <!-- Page Content -->
    <header class=" hero-spacer" style="padding-top: 1em; padding-bottom: 0px;">
      <h3><%= @case_log.title %></h3>
      <div class="row">
        <div class="col-lg-6">

        <p>
          <strong>Patient name:</strong>
          <%= @case_log.patient_name %>
        </p>

        <p>
          <strong>Patient date of birth:</strong>
          <%= @case_log.patient_date_of_birth %>
        </p>

        <p>
          <strong>Patient gender:</strong>
          <% case @case_log.patient_gender
               when 0 %>
            Unknown
            <% when 1 %>
            Male
            <% when 2 %>
            Female
          <% end %>
        </p>
        </div>
        <div class="col-lg-6">
          <p>
          <strong>Doctor:</strong>
          <%= @case_log.doctor.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @case_log.description %>
        </p>

        <p>
          <strong>Diagnosis:</strong>
          <%= @case_log.diagnosis %>
        </p>

        <p>
          <strong>Treatment:</strong>
          <%= @case_log.treatment %>
        </p>
        </div>
      </div>

      <p>
        <%=h link_to "&DoubleLongLeftArrow;".html_safe, case_logs_path, class: "btn btn-default btn-xs" %>
        <%= link_to 'New Image', new_case_log_image_path(@case_log), class: "btn btn-default btn-xs" %>
        <%= link_to 'Edit', edit_case_log_path(@case_log), class: "btn btn-default btn-xs" %>
      </p>
    </header>
    </div>

</section>


<section class="header-11-sub bg-midnight-blue" style="padding-top: 1em; padding-bottom: 1em;">
  <div class="container">

        <!-- Title -->
      <div class="row">
          <div class="col-lg-12">
              <h3>Images</h3>
          </div>
      </div>

      <hr>

      <div class="row text-center ">

        <% @images.each do |image| %>

          <div class="col-md-3 col-sm-6 hero-feature">
              <div class="thumbnail">
                  <img src="<%= image.url %>" alt="case log image" style="width: 250px; height: 170px;">
                  <div class="caption">
                      <h3 style="color: black;"><%= image.title %></h3>
                      <!-- <p><%= image.url %></p> -->
                      <p>
                          <%= link_to 'Details', image, class: "btn btn-xs btn-primary" %>
                          <%= link_to 'Edit', edit_image_path(image), class: "btn btn-xs btn-default" %>
                          <%= link_to 'X', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
                      </p>
                  </div>
              </div>
          </div>

        <% end %>

        <%if @images.size <= 0 %>
          <%= link_to 'Add Image', new_case_log_image_path(@case_log), class: "btn btn-default btn-large" %>
        <% end %>

      </div>
      </div>
  </section>

