<h1>Sign Up</h1>
<%= form_for @doctor do |f| %>
  <% if @doctor.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :license, class: 'required'%> <br>
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= f.label :name, class: 'required' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, class: 'required' %><br>
    <%= f.text_field :email %>
  </div>
    <%= f.label :state, class: 'required' %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :password, class: 'required' %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation, class: 'required' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
	
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>