<div class="col-sm-6 col-sm-offset-3">

          <% if @doctor.errors.any? %>
            <div class="error_messages">
              <strong>Form is invalid</strong>
              <ul>
                <% @doctor.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

<h1 style="margin-top:0;">Sign Up</h1>
</div>
<%= form_for @doctor do |f| %>
  <!-- registration -->
  <section class="price-2">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="basic-form">
                  <form>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :name, :placeholder => "Full name"%>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :email, :placeholder => "Email" %>
                      </div>
                    </div>
                    </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :license, :placeholder => "License number" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field">
                          <%= f.password_field :password, :placeholder => "Password" %>
                        </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <div class="field">
                        <%= f.text_field :state, :placeholder => "License issuing state" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field">
                          <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
                        </div>
                    </div>
                  </div>
                  <div id="signup-button"> 
                    <%= f.submit "Sign Up", class: "btn btn-block btn-info pull-left"%>
                  </div>
                  <div class="additional-links clear-both">
                    By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                  </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!--end of registration-->
<% end %>