<%= form_for([@case_log, @image]) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation" style="color: rgb(223, 81, 55);">
      <span><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</span>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: :required %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url, class: :required %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
