<div class="container">

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <img src="<%= @image.url %>" alt="case log image" style="width:304px;height:228px"> <br/>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Case log:</strong>
  <%= @image.case_log.title %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', @image.case_log %>
</div>