<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <img src="<%= @image.url %>" alt="case log image" style="width:304px;height:228px"> <br/>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Case log:</strong>
  <%= @image.case_log.title %>
</p>

<% if @image.case_log.doctor == current_user %>
	<%= link_to 'Edit', edit_image_path(@image) %> |
<% else %>
<% end %>
<%= link_to 'Back', @image.case_log %>
