<!DOCTYPE html>
<html>
<head>
  <title>Dermalog</title>
  <link rel="shortcut icon" href="http://www.sornorbkn.com/images/file_icon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header-11">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <img src="http://www.sornorbkn.com/images/file_icon.png" width="50" height="50" alt="" style="float:left; padding-top:20px"> 
                    <%= link_to "Dermalog", root_path, class: "brand"%>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <% if current_user %>
                    <ul class="nav pull-left" style="padding-top:5px;">
                        <li><a>Logged in as <%= current_user.name %></a></li>
                        <li class=<%=if params[:controller]=='case_logs' then "active" else "none" end%>>
                            <%= link_to 'My Cases', case_logs_path %></li>
                        <li class=<%=if params[:controller]=='images' then "active" else "none" end%>>
                            <%= link_to 'My images', images_path %></li>
                    </ul>
                        <form class="navbar-form pull-left">
                            <%= link_to "Log Out", logout_path, class: "btn btn-primary" %>
                        </form>
                    <% else %>
                    <ul class="nav pull-left" style="padding-top:5px;">
                        <li class="active"><%= link_to "HOME", root_path %></li>
                        <li><a href="#">ABOUT</a></li>
                     </ul>
                    <form class="navbar-form pull-left">
                        <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
                    </form>
                    <% end %>
                    <div style="clear:both;float:right;">
                        <% flash.each do |name, msg| %>
                        <%= content_tag :div, msg, id: "flash_#{name}" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<% if !(params[:controller] == 'sessions') %>
        <%= yield %>
<% else %>
    <%= yield %>
<% end %>


<!-- footer-2 -->
<footer class="footer-2 bg-midnight-blue">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li class="active">
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="social-btns pull-right">
            <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
            <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
            <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
        </div>
        <div class="additional-links">
            Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>

</body>
</html>